.dynamicproductlist .product-tiles {
  --product-tiles-number: 1;

  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
  padding: 20px 12px;
}

@media screen and (min-width: 768px) {
  .dynamicproductlist .product-tiles {
    --product-tiles-number: 2;
  }
}

@media screen and (min-width: 1024px) {
  .dynamicproductlist .product-tiles {
    --product-tiles-number: 4;
  }
}

.dynamicproductlist .product-tiles .card {
  width: calc((100% - 24px * (var(--product-tiles-number) - 1)) / var(--product-tiles-number));
}

.dynamicproductlist .product-tiles .card-image {
  border: 1px solid var(--color-primary--200);
}

.dynamicproductlist .product-tiles .card-image img {
  object-fit: contain;
}

.carousel .glide__slides > li {
  display: flex;
}

.carousel .card {
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .carousel .card-image,
  .carousel .card-image .image {
    height: 100%;
  }
}
