@use '../../colors';

.theme-light {
    .footer {
        --kyanite-footer-background-color: #{colors.$blue-800};
        --kyanite-footer-color: var(--kyanite-gray-70);
    }
}

.footer {
    --kyanite-footer-background-color: #{colors.$blue-800};
    --kyanite-footer-color: var(--kyanite-gray-70);
    border-top: var(--border-weight-3) solid var(--kyanite-primary);
    text-align: left;

    @media (min-width: 768px) {
        padding-top: var(--spacing-5_4);
        padding-bottom: var(--spacing-5_4);
        text-align: unset;
    }

    .image {
        margin: initial;
        margin-bottom: 0 !important;

        img {
            height: initial;
        }
    }

    .content {
        font-size: var(--font-size-12);

        strong {
            color: var(--kyanite-gray-70);
            font-size: var(--font-size-16);
            font-weight: var(--kyanite-weight-normal);
        }

        p {
            margin-bottom: 0;
            padding-top: var(--spacing-5);
            font-weight: var(--kyanite-weight-normal);

            &:last-child {
                margin: 0;
                padding: 0;
            }
        }
    }

    .column {
        .container > .link,
        .link {
            padding-bottom: var(--spacing-5);
            font-weight: var(--kyanite-weight-medium);
        }
    }

    .column:not(:last-of-type) {
        @media (max-width: 767px) {
            margin-bottom: var(--spacing-4) !important;
        }   
    }
}