.carousel {
    .card {
        background-color: var(--kyanite-primary-90);
        border: 1px solid var(--kyanite-primary-90);
        border-radius: 0;
        box-shadow: none;

        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
        }

        &-image {           
            .image {
                background-color: white;
                max-height: 380px;
                img { 
                    border-radius: 0;
                    object-fit: contain;
                    height: 100%;

                    @media (min-width: 1024px) {
                        position: initial;
                    } 
                }

                @media (min-width: 1024px) {
                    padding-top: 0;
                    margin-bottom: 0 !important;
                } 
            }

            @media (min-width: 1024px) {
                flex: 60%;
            } 
        }

        &-content {
            @media (min-width: 1024px) {
                flex: 40%;
            } 

            .content {
                font-size: var(--font-size-20);
                font-weight: var(--kyanite-weight-bold);
                margin-bottom: 0;
                color: var(--kyanite-gray-15);

                @media (min-width: 1024px) {
                    font-size: var(--font-size-24);
                } 
            }

            .rating {
                margin-bottom: var(--spacing-5);
                display: inline-block;
                width: 48%;

                @media (min-width: 1024px) {
                    display: block;
                    width: 100%;
                    text-align: start;
                } 
            }

            .rating + .content {
                color: var(--kyanite-primary);
                margin-bottom: var(--spacing-5);
                text-align: end;
                display: inline-block;
                width: 50%;

                @media (min-width: 1024px) {
                    display: block;
                    width: 100%;
                    text-align: start;
                } 
            }


            .button {
                display: block;
                width: 100%;

                @media (min-width: 1024px) {
                    width: auto;
                } 
            }
        }
    }
}
