@use '../../colors';

.aa-Autocomplete {
  .aa-DetachedSearchButton {
    border-color: var(--kyanite-gray-90);
    border-radius: var(--border-radius-2);

    &:focus {
      border-color: rgba(var(--kyanite-primary), 1);
      box-shadow: color-mix(in srgb, var(--kyanite-primary) 20%, white) 0 0 0
          3px,
        inset color-mix(in srgb, var(--kyanite-primary) 20%, white) 0 0 0 2px;
    }
  }

  .aa-SubmitIcon {
    color: var(--kyanite-gray-60);
  }
}

.aa-DetachedOverlay {
  .aa-Form:focus-within {
    border-color: var(--kyanite-primary);
    box-shadow: color-mix(in srgb, var(--kyanite-primary) 20%, white) 0 0 0
        2px,
      inset color-mix(in srgb, var(--kyanite-primary) 20%, white) 0 0 0 2px;
  }

  .aa-SubmitIcon {
    color: var(--kyanite-gray-60);
  }

  .aa-DetachedCancelButton {
    background-color: colors.$blue-800;
    color: var(--kyanite-white);
    font-weight: var(--kyanite-weight-semibold);
  }

  .aa-SourceHeaderTitle {
    color: var(--kyanite-gray-60);
  }

  .aa-SourceHeaderLine {
    border-bottom-color: var(--kyanite-gray-60);
  }

  .aa-ItemLink {
    justify-content: stretch;
  }

  .aa-ItemContent {
    grid-template-columns: auto auto 1fr;
  }

  .aa-ItemContentTitle {
    font-weight: var(--kyanite-weight-semibold);

    b {
      color: var(--kyanite-primary);
    }
  }

  .aa-ItemActionButton {
    visibility: hidden;
  }

  .aa-ItemContentDescription {
    b {
      color: var(--kyanite-primary);
    }
  }

  .aa-Item:hover {
    .aa-ItemContentTitle {
      b {
        text-decoration: underline;
      }
    }

    .aa-ItemContentDescription {
      b {
        text-decoration: underline;
      }
    }
  }
}
